@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.col-bg {
    background-image: url(../assets/images/best-option.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.newcol-bg {
    background-image: url(../assets/images/background-top2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@font-face {
    font-family: "interreg";
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "robreg";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "interbod";
    src: url("../assets/fonts/Inter-Bold.ttf");
}


.react-select--inline {
    display: inline-block;


}


/* Remove border, outline, box-shadow, and min-height values */
.react-select--inline .react-select__control {
    border: none;
    outline: none;
    box-shadow: none;
    min-height: none;
    cursor: pointer;


}

/* Tighten up spacing */
.react-select--inline .react-select__value-container {
    padding: 0;
    width: 250px;

}

/* Position value relative (instead of absolute) and remove transform and max-width */
.react-select--inline .react-select__single-value {

    position: relative;
    transform: none;

}

/* CSS triangle dropdown indicator next to selected value */
.react-select--inline .react-select__single-value::after {
    content: " ";
    position: relative;
    display: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;

    margin-left: 160px;
    top: -0.125em;
}